.registerForm {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    height: fit-content;
    width: fit-content;
    background-color: var(--dark-shade);
    color: var(--light-shade);
    border-radius: 25px;
    padding: 10%;
    margin: 10% 0px;
}

.registerForm h2 {
    justify-self: start;
}

.registerForm label {
    margin-top: 10px;
}

.registerForm input {
    height: 20px;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 5%;
    outline: none;
    border: 2px solid var(--light-shade);
    transition: border 0.1s ease;
}

.registerForm input:focus {
    border: 2px solid var(--dark-accent);
}

.registerForm button {
    max-width: 100px;
    min-width: 80px;
    height: 40px;
    margin: 10px 0px;
    align-self: flex-start;
    border: none;
    outline: none;
    background-color: var(--dark-accent);
    border-radius: 5px;
    font-weight: 700;
    color: var(--light-shade);
    transition: all 0.3s ease;
}

.registerForm button:hover {
    background-color: var(--main-color);
    color: var(--dark-shade);
}

.registerForm span {
    color: var(--dark-accent);
}

.registerForm .invalid-box {
    background-color: var(--dark-accent);
    color: var(--light-shade);
    border-radius: 15px;
    font-size: 12px;
}

.registerForm .invalid-border {
    border: 2px solid var(--dark-accent);
}
